.container {
  max-width: 300px;
  min-width: 250px;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.patient-name {
  padding-top: 20px;
}
.example-button-container {
  display: flex;
  justify-content: flex-end;
}
