<app-exams (onReload)="callExams()" [patientName]="patientName" [exams]="exams"></app-exams>
<app-ultrassounds (onReload)="callExams()" [patientName]="patientName" [ultrassounds]="ultrassounds"></app-ultrassounds>
<!--<div class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title >
        Tabela de Exames
        <mat-icon style="margin-left: 15px;">list_alt</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>-->
