.container {
  max-width: 600px;
  min-width: 400px;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.input {
  width:30%;
  margin-right: 15px;
}

.input-text {
  width:100%;
  margin-right: 15px;
}

.example-container {
  display: flex;
  justify-content: center;
}

.patient-name {
  padding-top: 20px;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
