<p *ngIf="!rows"><em>Carregando...</em></p>
<div class="container" style="padding-bottom: 20px;">
  <table mat-table [dataSource]="rows" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay" >
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="card-edit">
            <div>
              <br>
              <mat-card>
                <mat-card-content>
                  <mat-card-subtitle>Informações adicionais:</mat-card-subtitle>
                  <p>
                    Complicações: {{element.complication}}
                  </p>
                  <p>
                    Substâncias em uso: {{element.substance_use}}
                  </p>
                </mat-card-content>s
              </mat-card>
              <br>
            </div>
            <div>
              <div *ngFor="let addendum of addedums">
                <mat-card>
                  <mat-card-subtitle>Errata do dia: {{addendum.created | date}}</mat-card-subtitle>
                  <mat-card-content>
                    <p>
                      {{addendum.info}}
                    </p>
                  </mat-card-content>
                  </mat-card>
                  <br>
              </div>
            </div>
            <div class="button-container">
              <app-update-medical-record style="margin-right: 10px" (onUpdate)="needReload()" [patientName]="patientName" [appointment]="element" ></app-update-medical-record>
              <app-delete-medical-record (onDelete)="needReload()" [id]="element.id"></app-delete-medical-record>
            </div>
            <br>
          </div>
        </div>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay;"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="toggleRow(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
