<div *ngIf="appointment" class="container">
  <h2>Paciente {{name}}</h2>
  <hr class="my-4">
  <div>
    <div> <label for="patient-name">Peso: {{appointment.weight}} </label> </div>
    <div> <label for="patient-email">Data da consulta: {{appointment.date}} </label> </div>
    <div> <label for="patient-email">IG: {{appointment.ig}} </label> </div>
    <div> <label for="patient-birt_date">PA: {{appointment.pa}} </label> </div>
    <div> <label for="patient-occupation">Edema: {{appointment.edema}} </label> </div>
    <div> <label for="patient-kinship">AU: {{appointment.av}} </label> </div>
    <div> <label for="patient-kinship">BCF: {{appointment.bcf}} </label> </div>
    <div> <label for="patient-kinship">CD: {{appointment.cd}} </label> </div>
    <div> <label for="patient-kinship">Complicação: {{appointment.complication}} </label> </div>
    <div> <label for="patient-kinship">Substância em uso: {{appointment.substance_use}} </label> </div>
  </div>
  <hr class="my-4">
</div>
