<div *ngIf="appointment" class="container">
  <h2>Paciente {{name}}</h2>
  <hr class="my-4">
  <div>
    <div> <label for="appointment-weight">Peso: {{appointment.weight}} </label> </div>
    <div> <label for="appointment-date">Data da consulta: {{appointment.date}} </label> </div>
    <div> <label for="appointment-ig">IG: {{appointment.ig}} </label> </div>
    <div> <label for="appointment-pa">PA: {{appointment.pa}} </label> </div>
    <div> <label for="appointment-edema">Edema: {{appointment.edema}} </label> </div>
    <div> <label for="appointment-av">AU: {{appointment.av}} </label> </div>
    <div> <label for="appointment-bcf">BCF: {{appointment.bcf}} </label> </div>
    <div> <label for="appointment-cd">CD: {{appointment.cd}} </label> </div>
    <div> <label for="appointment-complication">Complicação: {{appointment.complication}} </label> </div>
    <div> <label for="appointment-substance_use">Substância em uso: {{appointment.substance_use}} </label> </div>
  </div>
  <hr class="my-4">
</div>
