<div class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title >
        Novo exame de {{patientName}}
        <mat-icon style="margin-left: 15px;">note_add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup] = "form">
      <div class="example-container" >
        <mat-form-field appearance="outline">
          <mat-label>Tipo de exame</mat-label>
          <mat-select formControlName="selected">
            <mat-option *ngFor="let opt of options" [value]="opt.key">
                {{opt.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="example-container">
        <div *ngIf="form.get('selected')?.value!=='Ultrassom' && form.get('selected')?.value!==null ">
          <app-other-exam [patientName]="patientName" [formIn]="form"></app-other-exam>
        </div>
        <div *ngIf="form.get('selected')?.value==='Ultrassom' ">
          <app-ultrassound></app-ultrassound>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>
