<div class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title >
        Novo exame de {{patientName}}
        <mat-icon style="margin-left: 15px;">note_add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup] = "form">
      <div>
        <div class="example-container" >
          <mat-form-field appearance="outline">
            <mat-label>Tipo de exame</mat-label>
            <mat-select formControlName="selected">
              <mat-option *ngFor="let opt of options" [value]="opt.key">
                  {{opt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="example-container" *ngIf="form.get('selected')?.value!==null">
          <mat-form-field appearance="outline" class="input" style="margin-top: 15px;" *ngIf="form.get('selected')?.value==='other' ">
            <mat-label>Nome</mat-label>
            <input formControlName="name" id="name" matInput required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input" style="margin-top: 15px;">
            <mat-label>Data do exame</mat-label>
            <input matInput formControlName="date" type="date" id="date">
          </mat-form-field>
          <mat-form-field appearance="outline" class="input" style="margin-top: 15px;" *ngIf="form.get('selected')?.value!=='HIV' ">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="value" id="value">
          </mat-form-field>
          <mat-form-field appearance="outline" class="input" style="margin-top: 15px;" *ngIf="form.get('selected')?.value==='HIV'">
            <mat-label>Valor</mat-label>
            <mat-select formControlName="reagent">
              <mat-option *ngFor="let opt of reagent_options" [value]="opt.key">
                {{opt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button style="margin-bottom: 25px;" mat-raised-button color="primary" (click)="createExam()" type="submit" [disabled]="!form.valid"> Cradastrar exame </button>
    </form>
  </mat-expansion-panel>
</div>
