<p *ngIf="!patients"><em>Loading...</em></p>
<div class="container">
  <h5>Pacientes</h5>
  <hr class="my-4">

  <table mat-table [dataSource]="patients" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container  matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let patient"> {{patient.name}} </td>
    </ng-container>
    <!-- CPF Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let patient"> {{patient.cpf}} </td>
    </ng-container>
    <!-- birt_date Column -->
    <ng-container matColumnDef="birt_date">
      <th mat-header-cell *matHeaderCellDef> Data de nascimento </th>
      <td mat-cell *matCellDef="let patient"> {{patient.birt_date}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- <thead>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de nascimento</th>
        <th>e-mail</th>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients" >
            <td routerLink="/detail/{{patient.id}}">{{patient.name}}</td>
            <td>{{patient.cpf}}</td>
            <td>{{patient.birt_date}}</td>
            <td>{{patient.email}}</td>
        </tr>
    </tbody>-->
  </table>
</div>
