<div class="container">
  <main>
    <div class = "form-row">
      <h2>Formulário de registro do médico</h2>
      <p class="lead">Por favor complete o registro abaixo.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-10 col-lg-12">
        <h4 class="mb-3">Informações pessoais</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div [formGroup] = "form" class="col-sm-6">
              <label for="name" class="form-label">Nome completo</label>
              <input formControlName="name" type="text" class="form-control" id="name" placeholder="" value="" required>
              <div class="invalid-feedback">
                Nome completo válido é requerido.
              </div>
            </div>

            <div [formGroup] = "form"  class="col-12">
              <label for="email" class="form-label">Email </label>
              <input formControlName="email" type="email" class="form-control" id="email" placeholder="voce@exemplo.com" required>
              <div class="invalid-feedback">
                Por favor insira um email válido.
              </div>
            </div>

            <div [formGroup] = "form"  class="col-sm-6">
              <label for="birt_date" class="form-label">Data de nascimento </label>
              <input formControlName="birt_date" type="date" class="form-control" id="birt_date" placeholder="" required>
              <div class="invalid-feedback">
                Por favor insira a sua data de nascimento.
              </div>
            </div>


            <div [formGroup] = "form"  class="col-12">
              <label for="phone-number" class="form-label">Senha </label>
              <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
              <div class="invalid-feedback">
                Por favor insira sua senha.
              </div>
            </div>

            <div [formGroup] = "form"  class="col-12">
              <label for="crm" class="form-label">CRM </label>
              <input formControlName="crm" type="text" class="form-control" id="crm" placeholder="" required>
              <div class="invalid-feedback">
                Por favor insira o seu CRM.
              </div>
            </div>

            <div [formGroup] = "form"  class="col-12">
              <label for="cpf" class="form-label">CPF </label>
              <input formControlName="cpf" type="text" class="form-control" id="cpf" placeholder="" required>
              <div class="invalid-feedback">
                Por favor insira o seu CPF.
              </div>
            </div>

            <div [formGroup] = "form"  class="col-12">
              <label for="address" class="form-label">Endereço</label>
              <input formControlName="address" type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Por favor insira seu endereço.
              </div>
            </div>

            <div [formGroup] = "form"  class="col-12">
              <label for="number" class="form-label">Número <span class="text-muted">(Optional)</span></label>
              <input formControlName="number" type="text" class="form-control" id="number" placeholder="555" required>
            </div>


            <div [formGroup] = "form"  class="col-12">
              <label for="zipcode" class="form-label">CEP</label>
              <input formControlName="zipcode" type="text" class="form-control" id="zipcode" placeholder="" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit" (click)="onSubmit()"> Cadastrar </button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017–2021 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
