<div class="container">
  <main>
    <div class = "text-center">
      <h2>Formulário de registro do médico</h2>
      <p class="lead">Por favor complete o registro abaixo.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-10 col-lg-12">
        <h4 class="mb-3">Informações pessoais</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Primeiro Nome</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Primeiro nome válido é requerido.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Último nome</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Último nome valido é requerido.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email </label>
              <input type="email" class="form-control" id="email" placeholder="voce@exemplo.com" required>
              <div class="invalid-feedback">
                Por favor insira um email válido.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="birt_date" class="form-label">Data de nascimento </label>
              <input type="date" class="form-control" id="birt_date" placeholder="" required>
              <div class="invalid-feedback">
                Por favor insira a sua data de nascimento.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="phone-number" class="form-label">Número do telefone </label>
              <input type="text" class="form-control" id="phone-number" placeholder="" required>
              <div class="invalid-feedback">
                Por favor insira o seu telefone.
              </div>
            </div>

            <div class="col-12">
              <label for="phone-number" class="form-label">Senha </label>
              <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
              <div class="invalid-feedback">
                Por favor insira sua senha.
              </div>
            </div>

            <div class="col-12">
              <label for="crm" class="form-label">CRM </label>
              <input type="text" class="form-control" id="crm" placeholder="" required>
              <div class="invalid-feedback">
                Por favor insira o seu CRM.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Endereço</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Por favor insira seu endereço.
              </div>
            </div>

            <div class="col-12">
              <label for="address-number" class="form-label">Número <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address-number" placeholder="Apartment or suite">
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Complemento <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <select class="form-select" id="country" required>
                <option value="">Choose...</option>
                <option>United States</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">State</label>
              <select class="form-select" id="state" required>
                <option value="">Choose...</option>
                <option>California</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">CEP</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit"> Cadastrar </button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017–2021 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
